body {
    display: flex;
    flex: 1;
    
    align-items: center;
    justify-content: center;

    font-family: monospace;
	background-color: rgba(25, 25, 25);
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	border-color: rgba(255, 255, 255, 75);
    
    border-width: 1px;
    padding: 50px;
    width: 50%;
    max-width: 500px;
    margin-top: 8%;
}

p {
    font-size: 16pt;
	color: rgba(255, 255, 255, .75);
	font-family: monospace;
}

input[type=text] {
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    background-color: #fcfcfcfc;
    height: 35px;
    font-size: 14pt;
    padding-left: 5px;
}

input[type=button] {
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    background-color: #fcfcfcfc;
    width: 125px;
    height: 35px;
}

h3 {
	color: rgba(255, 255, 255, .75);
	font-family:monospace
}

.line {
	color: rgba(255, 255, 255, .75);
}

.line::after {
	content: '|';
	margin-left: 5px;
	opacity: 1;
	display: inline-block;
	animation: blink .7s infinite;
}

@keyframes blink {
	0%, 100% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}
}